
.App {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.pic-2 {
  position: absolute;
width: 1430px;
height: 600px;
overflow: visible;
left: 50%;
  background: url(./assets/images/faded_pic.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 120;
}


